NEXT_PUBLIC_SUPABASE_URL=https://demjqvxnydgwrglbkyuq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_RdU8PnEbsvuEQFRCYRtWBA_gkXhaDbu

CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET=
CLOUDFLARE_R2_ENDPOINT=
CLOUDFLARE_R2_PUBLIC_URL=

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_D1_DATABASE_ID=
CLOUDFLARE_D1_API_TOKEN=
